/* Importing Petco Circular Font from Petco Website */
@font-face {
  font-family: "PetcoCircular-Regular";
  src: url("https://www.petco.com/assets/fonts/PetcoCircular-Regular.woff2")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PetcoCircular-Bold";
  src: url("https://www.petco.com/assets/fonts/PetcoCircular-Bold.woff2")
    format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PetcoCircular-Black";
  src: url("https://www.petco.com/assets/fonts/PetcoCircular-Black.otf")
    format("otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "PetcoCircular-Medium";
  src: url("https://www.petco.com/assets/fonts/PetcoCircular-medium.woff2")
    format("woff");
  font-weight: 700;
  font-style: normal;
}
