/* Importing Petco Circular Font from Petco Website */
@font-face {
  font-family: "PetcoCircular-regular";
  src: url("https://www.petco.com/assets/fonts/PetcoCircular-Regular.woff2")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PetcoCircular-Bold";
  src: url("https://www.petco.com/assets/fonts/PetcoCircular-Bold.woff2")
    format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PetcoCircular-Black";
  src: url("https://www.petco.com/assets/fonts/PetcoCircular-Black.otf")
    format("otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "PetcoCircular-Medium";
  src: url("https://www.petco.com/assets/fonts/PetcoCircular-medium.woff2")
    format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Start Custom CSS */
/* Universal styles */
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.citrusPurinaONE__wrapper {
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

.citrusPurinaONE__wrapper h1,
.citrusPurinaONE__wrapper h2,
.citrusPurinaONE__wrapper h3,
.citrusPurinaONE__wrapper h4,
.citrusPurinaONE__wrapper h5,
.citrusPurinaONE__wrapper h6 {
  margin: 0;
  padding: 0;
  line-height: initial;
}

.citrusPurinaONE__wrapper p {
  margin: 0;
  padding: 0;
  line-height: initial;
}

.citrusPurinaONE__wrapper a {
  text-decoration: none;
}

.citrusPurinaONE__wrapper a:hover {
  text-decoration: none;
}

.citrusPurinaONE__sectionTitle {
  margin: 0;
  font-family: "PetcoCircular-Bold", arial !important;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #000000;
  padding-bottom: 15px !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
}
p.citrusPurinaONE__subhead {
  font-family: "PetcoCircular-Regular", arial !important;
  font-size: 18px;
  line-height: normal;
  font-weight: 400;
  text-align: center;
  color: #000;
  padding: 0px 30px 40px;
}
.citrusPurinaONE__wrapper img {
  width: 100%;
}

.citrusPurinaONE__sectionGap {
  padding-bottom: 40px;
}

.citrusPurinaONE__sectionCTAgap {
  padding-top: 35px;
  padding-bottom: 50px;
}

.bestSellerCTA {
  display: flex;
  justify-content: center;
}

.citrusPurinaONE__sectionSubhead {
  text-align: center;
  font-size: 16px;
  font-family: "PetcoCircular-regular", arial !important;
  color: black;
  padding-bottom: 10px !important;
}

.citrusPurinaONE__commonCTA {
  color: #fff;
  text-transform: uppercase;
  background-color: #001952;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  width: 266px;
  height: 55px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: "PetcoCircular-Black", arial !important;
  font-weight: 700;
  margin: 0 auto;
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .citrusPurinaONE__sectionTitle {
    font-size: 20px;
    max-width: 350px;
    margin: 0 auto !important;
  }

  .citrusPurinaONE__product {
    margin-top: 30px !important;
  }

  .citrusPurinaONE__wrapper a:hover {
    text-decoration: underline;
  }
  .citrusPurinaONE__main-tab-content {
    padding: 0 0 0 15px !important;
  }
  .citrusPurinaONE__heroImage-copy {
    width: 100% !important;
    margin: 0 auto !important;
  }
}

@media screen and (max-width: 375px) {
  .citrusPurinaONE__sectionTitle {
    padding-left: 0 !important;
    padding-right: 0 !important;
    max-width: 330px;
  }
  .citrusPurinaONE__sectionTitle{
    max-width: 290px;
  }
}

.citrusPurinaONE__desktop_block {
  display: block;
}

.citrusPurinaONE__mobile_block {
  display: none;
}

/* Overflow Scrollbar */
.citrusPurinaONE-wrapper::-webkit-scrollbar,
.citrusPurinaONE__product::-webkit-scrollbar,
.citrusPurinaONE__productContainer::-webkit-scrollbar,
.citrusPurinaONE__productCarousel-wrapper::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.citrusPurinaONE__productCarousel-wrapper,
.citrusPurinaONE__product,
.citrusPurinaONE__productContainer {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
/* End Universal CSS */

/* Custom CSS */
/* Hero Banner */
.citrusPurinaONE__desktop-version {
  display: block;
}

.citrusPurinaONE__mobile-version {
  display: none;
}

/* hero banner */
.citrusPurinaONE__heroContainer {
  position: relative;
}

.citrusPurinaONE__heroImage-box img {
  width: 100%;
  max-width: 1440px;
}

.citrusPurinaONE__heroImage-copy {
  position: absolute;
  width: 94%;
  height: 100%;
  top: 0;
  display: flex;
  margin: auto 6% 0;
}

.citrusPurinaONE__hero-copy-center {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.citrusPurinaONE__logo img {
  width: 100%;
  max-width: 100px;
}

.citrusPurinaONE__heroCopy h1 {
  font-family: "PetcoCircular-Black", arial !important;
  font-size: 38px;
  line-height: 38px;
  font-weight: 900;
  color: #fff;
  padding-bottom: 30px;
}

.citrusPurinaONE__hero-rightCTA a {
  display: block;
  width: 170px;
  background: #fff;
  font-family: "PetcoCircular-Black", arial !important;
  font-size: 16px;
  line-height: 52px;
  font-weight: 700;
  text-align: center;
  color: #00205b;
  border: 1px solid #fff;
  border-radius: 5px;
  text-transform: uppercase;
}

/* .citrusPurinaONE__petcoBadge {
  width: 6% !important;
  position: absolute;
  right: 1%;
  top: 8%;
} */

@media screen and (max-width: 1400px) {
  .citrusPurinaONE__heroCopy h1 {
    font-size: 36px;
    line-height: 40px;
  }
}

@media screen and (max-width: 1300px) {
  /* .citrusPurinaONE__hero-copy-center {
    gap: 20px;
  } */

  .citrusPurinaONE__heroCopy h1 {
    font-size: 28px;
    line-height: 28px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1300px) {
  .citrusPurinaONE__hero-copy-center {
    gap: 20px;
  }
  .citrusPurinaONE__heroCopy h1 {
    font-size: 32px;
    line-height: 32px;
  }
}
@media screen and (min-width: 1100px) and (max-width: 1300px) {
  .groupProductCTA {
    gap: 5px !important;
    padding: 0 5px !important;
  }
}
@media all and (min-width: 922px) and (max-width: 1100px) {
  .citrusPurinaONE__heroImage-copy {
    top: -3%;
  }

  .citrusPurinaONE__heroCopy h1 {
    font-size: 28px;
    line-height: 28px;
    padding-bottom: 30px;
  }
}
@media all and (min-width: 922px) and (max-width: 1050px) {
  .citrusPurinaONE__heroCopy h1 {
    font-size: 23px;
    line-height: 24px;
  }
}

@media all and (min-width: 769px) and (max-width: 921px) {
  .citrusPurinaONE__heroImage-copy {
    top: 0;
    align-items: flex-start;
  }

  .citrusPurinaONE__logo img {
    max-width: 90px;
  }

  .citrusPurinaONE__heroCopy h1 {
    font-size: 22px;
    line-height: 22px;
    padding-bottom: 30px;
  }
}
@media all and (min-width: 769px) and (max-width: 860px) {
  .citrusPurinaONE__logo img {
    max-width: 90px;
  }
  .citrusPurinaONE__hero-copy-center {
    gap: 5px;
  }
  .citrusPurinaONE__heroCopy h1 {
    font-size: 19px;
    line-height: 20px;
    padding-bottom: 30px;
  }
}
@media all and (max-width: 768px) {
  .citrusPurinaONE__desktop-version {
    display: none;
  }

  .citrusPurinaONE__mobile-version {
    display: block;
  }

  /* hero banner */
  .citrusPurinaONE__heroImage-copy {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 50%;
    width: 94%;
    margin: auto 3%;
  }

  .citrusPurinaONE__heroCopy h1 {
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    padding-bottom: 25px;
  }

  .citrusPurinaONE__hero-rightCTA {
    display: flex;
    justify-content: center;
  }

  .citrusPurinaONE__hero-rightCTA a {
    display: block;
    width: max-content;
    background: none;
    line-height: 20px;
    text-align: left;
    color: #fff;
    border: none;
    text-decoration: underline;
    text-transform: none;
  }

  p.citrusPurinaONE__subhead{
    font-size: 20px;
  }
/* 
  .citrusPurinaONE__petcoBadge {
    width: 15% !important;
    position: absolute;
    right: 21%;
    bottom: 20%;
    top: unset;
  } */
}

@media all and (min-width: 476px) and (max-width: 768px) {
  .citrusPurinaONE__heroCopy h1 {
    font-size: 36px;
    line-height: 40px;
    text-align: center;
  }

  .citrusPurinaONE__hero-rightCTA {
    display: flex;
    justify-content: center;
  }
  .groupProductCTA {
    gap: 5px !important;
    padding: 0 5px !important;
  }
}

@media screen and (max-width: 425px) {
  .citrusPurinaONE__heroCopy h1 {
    padding-bottom: 30px;
    font-weight: 700 !important;
  }
}

@media screen and (max-width: 767px) {
  .citrusPurinaONE__hero-copy-center {
    gap: 0;
  }
}

@media screen and (max-width: 520px) {
  /* .citrusPurinaONE__petcoBadge {
    right: 10%;
    bottom: 22%;
  } */
}

@media screen and (max-width: 425px) {
  /* .citrusPurinaONE__petcoBadge {
    width: 19% !important;
    right: 19%;
    bottom: 22%;
  } */
}

/* product section three across */
.citrusPurinaONE__product {
  margin-top: 60px;
}

.citrusPurinaONE__tab-container h2 {
  padding: 10px 15px 30px !important;
}

.citrusPurinaONE__productContainer {
  width: 1145px;
  max-width: 100%;
  margin: auto;
  overflow-x: auto;
}

.citrusPurinaONE__productContainer a {
  text-decoration: none;
}

.citrusPurinaONE__row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
}

.citrusPurinaONE__card {
  width: 361px;
  max-width: 100%;
  height: 404px;
  border: 2px solid #00205b;
  border-radius: 8px;
}

.citrusPurinaONE__card-img {
  background: #fff;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: start;
  border-radius: 8px;
}

.citrusPurinaONE__card-img img {
  width: 100%;
  object-fit: contain;
}

.citrusPurinaONE__card-body {
  margin: 32px 23px 20px;
}

.citrusPurinaONE__card-body h3 {
  font-size: 16px;
  line-height: 20px;
  font-family: "PetcoCircular-Bold", arial !important;
  font-weight: 700;
  color: #000;
}

.citrusPurinaONE__card-body p {
  margin-top: 20px;
  font-size: 16px;
  line-height: 20px;
  font-family: "PetcoCircular-regular", arial !important;
  font-weight: 400;
  color: #000;
}

@media screen and (min-width: 1101px) and (max-width: 1150px) {
  .citrusPurinaONE__productContainer {
    max-width: 98%;
  }
}

@media screen and (max-width: 1100px) {
  .citrusPurinaONE__row {
    padding: 0 25px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  .citrusPurinaONE__product-card03 {
    padding-right: 15px;
  }
  .citrusPurinaONE__tab-container{
    padding: 0 15px;
  }
}

@media screen and (max-width: 767px) {
  /* Educational Mode */
  .citrusPurinaONE__product-card03 {
    padding-right: 15px;
  }

  .citrusPurinaONE__card {
    width: 267px;
    height: 320px;
  }

  .citrusPurinaONE__card-body {
    margin: 20px 0 0 20px;
  }

  .citrusPurinaONE__card-img {
    height: 178px;
    overflow: hidden;
  }

  .citrusPurinaONE__card-body p {
    margin-top: 10px;
    width: 231px;
  }

  /* End Educational Mode */
  .citrusPurinaONE__commonCTA {
    width: max-content;
    height: max-content;
    background: none;
    color: #001952;
    line-height: 20px;
    text-transform: capitalize;
    text-decoration: underline;
    text-align: center;
    border: none;
  }
}

@media screen and (max-width: 350px) {
  .citrusPurinaONE__heroCopy h1 {
    font-size: 19px;
    line-height: 20px;
  }
}

@media screen and (max-width: 375px) {
  /* Educational Mode */
  .citrusPurinaONE__row:first-child {
    width: 87.5%;
  }

  .citrusPurinaONE__card-body h3 {
    margin-top: 23px;
    margin-bottom: 12px;
  }

  .citrusPurinaONE__card-body p {
    margin: unset;
    width: 224px;
  }
}

/* End Three Across Custom CSS */

/* Default CSS */
/* Product Carousel section Section Combined CSS */
/* tab button style */
.citrusPurinaONE__productCarousel-wrapper {
  width: 100%;
  max-width: 1273px;
  margin: auto;
  overflow-x: auto;
}

.citrusPurinaONETabId {
  width: 100%;
  overflow-x: auto;
}

.citrusPurinaONE__tab-area {
  overflow: hidden;
}

.citrusPurinaONE__tab-container {
  max-width: 1253px;
  width: 90%;
  margin: 0 auto;
}

.splide__pagination {
  display: none;
}

.citrusPurinaONE-tab-card {
  padding: 30px 0 0;
}

.citrusPurinaONE__Product {
  display: none;
}

.citrusPurinaONE__Product img {
  object-fit: contain;
}

.citrusPurinaONE-tab-cardImg img {
  max-width: 100%;
  max-width: 190px;
}

.citrusPurinaONE-tab-card > a {
  text-decoration: none;
  color: #000;
}

.citrusPurinaONE-tab-card p {
  font-family: "PetcoCircular-regular", arial !important;
  color: #333333;
  font-size: 13px;
  line-height: 16px;
  text-align: left;
  margin: 20px 0 14px;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 4em;
  /*standard size is 4em*/
  font-weight: 400;
}

.citrusPurinaONE__productCTA {
  border: 0;
  padding-left: 0;
  background: none;
  text-decoration: underline;
  font-family: "PetcoCircular-Black", arial !important;
  color: #001952;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  cursor: pointer;
}

.citrusPurinaONE__productCTA svg{
  max-width: 37.5px;
  padding: 0 0 7px;
}

.citrusPurinaONE__Products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
}

.citrusPurinaONE-tab-cardImg {
  padding: 0 10px;
  margin: auto;
}

.citrusTabShow {
  display: block;
}

.citrusPurinaONE__groupProductShot {
  border: 1px solid #333;
  border-radius: 10px;
  text-decoration: none;
}

.citrusPurinaONE__groupProductShot__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: auto;
  padding-top: 0;
}

.citrusPurinaONE__groupProductShotImage img {
  max-height: 144px;
  padding: 20px 0;
}

.groupProductCTA {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 10px;
  margin: auto;
  padding: 0 10px;
}

.citrusPurinaONE__groupCtaDimention {
  display: flex;
  flex-direction: column;
  font-weight: 900;
}

.citrusPurinaONE__groupCtaDimention p {
  line-height: 18px;
  font-family: "PetcoCircular-Black", arial !important;
  color: #001952;
  margin-top: 0;
  font-weight: 700;
  font-size: 20px;
}

.citrusPurinaONE__groupCtaArrow p {
  font-size: 34px;
  margin-top: 0;
}

.citrusPurinaONE__tab_item {
  text-transform: uppercase;
  padding: 12px 20px;
  margin: 0px 10px;
  font-size: 14px;
  text-decoration: none;
  background-color: transparent;
  border: none;
  border-bottom: 10px solid transparent;
  cursor: pointer;
  color: #9b9b9b;
  font-family: "PetcoCircular-Bold", arial !important;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
}

.citrusPurinaONE__tab_item.citrusPurinaONE__active_tab {
  color: #001952;
  border-bottom: 10px solid #001952;
  border-radius: 0;
}

.citrusPurinaONETabId {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
  border-bottom: 1px solid #001952;
}

/* hide arrow */
.citrusPurinaONE_hide_arrow .splide__arrows {
  display: none;
}

@media all and (max-width: 1301px) {
}

@media screen and (max-width: 768px) {
  .citrusPurinaONETabId {
    width: 100%;
    margin: 0 auto 20px;
  }

  .citrusPurinaONE__tab-container {
    width: 100%;
  }

  .splide__arrow {
    display: none;
  }
}

@media all and (max-width: 575px) {
  .citrusPurinaONE__tab_item {
    margin: 0;
    width: calc(100% / 2 - 30px);
    padding: 7px 20px 12px;
  }

  .citrusPurinaONE__sectionCTAgap {
    padding: 35px 0;
  }

  .citrusPurinaONE__Product {
    max-width: 195px;
  }
}

/* custom css */
.splide__arrow:disabled {
  opacity: 0;
}
